.about-container {
    width: 1600px;
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.about-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}

.about-image {
    border-radius: 50%;
    width: 14vw;
    aspect-ratio: 1 / 1;
}

.about-image-container {
    position: relative;
}

.about-image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: 14vw;
    height: 14vw;
    z-index: 2;
    border: solid 1px #FFF;
    border-radius: 50%;
}

.about-hello {
    font-family: Poppins;
    font-weight: bold;
    font-size: 90pt;
    color: transparent;
    -webkit-text-stroke: .5px white;
}

.about-text {    
    display: flex;
    align-items: center;
    direction: rtl;
  
    font-family: Inter;
    font-size: 1.06vw;
    line-height: 2;
    margin-bottom: 60px;
}

.about-tags {
    display: flex;
}

.about-tag {
    padding: 1px 30px;
    border: solid 1px #FFF;
    border-radius: 10px;
    margin-right: 30px;
    font-family: Inter;
    font-size: 1vw;
    margin-bottom: 15px;
}
