.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 1200px;
  height: 662px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(40px);

  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 5vw;
}

.box-main {
  display: flex;
}

.subtitle {
  font-family: Poppins;
  font-weight: bold;
  font-size: 25pt;

  position: absolute;
  top: 0;
  left: -70px;
}

.title-container {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 100pt;
  color: transparent;
  -webkit-text-stroke: .5px white;
}

.exclamation {
  font-family: Poppins;
  font-weight: bold;
  font-size: 25pt;
  margin-left: 10px;
  writing-mode: tb-rl;
  rotate: 180deg;
}

.box-description {
  display: flex;
  align-items: center;
  direction: rtl;

  font-family: Inter;
  font-size: 16pt;
}

.strengths {
  background-color: #000;
  background: radial-gradient(ellipse at top 0% right 20%, #ff6abd 0%, transparent 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles {
  position: relative;
  width: 25vw;
  height: 25vw;
  border: solid 1px #FFF;
  border-radius: 50%;
}

.circles::before {
  content: "";
  display: block;
  width: calc(25vw + 160px);
  height: calc(25vw + 160px);
  border: solid 1px #FFF;
  border-radius: 50%;
  transform: translate(-80px, -80px);
}

.circles::after {
  position: relative;
  top: calc((25vw + 160px) * -1);
  width: calc(25vw + 80px);
  height: calc(25vw + 80px);
  border: solid 1px #FFF;
  border-radius: 50%;
  transform: translate(-40px, -40px);

  content: "strengths";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28pt;
}

.strength-card {
  position: absolute;
  width: 500px;
  height: 240px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 50px;
  z-index: 2;
  backdrop-filter: blur(10px);

  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: 50px;
}

.strength-id {
  background: rgba(255, 255, 255, .5);
  width: 75px;
  border-radius: 15px;
  justify-content: center !important;
  align-items: center;
  display: flex;
  font-size: 14pt;
  color: #000;
  font-family: Inter;
  font-weight: 600;
}

.strength-title {
  margin-left: 15px;
  font-family: Inter;
  font-size: 20pt;
}

.right {
  margin-right: 15px;
  justify-content: end;
  justify-self: end;
}

.right > .strength-title {
  text-align: end;
}

.strength-description {
  grid-column: 1 / 3;
}

.strength-card:nth-child(1) {
  top: -80px;
  left: calc((500px - 2vw) * -1);
}

.strength-card:nth-child(2) {
  top: -80px;
  left: calc(25vw - 50px);
}

.strength-card:nth-child(3) {
  top: calc(25vw - 160px);
  left: calc((500px - 2vw) * -1);
}

.strength-card:nth-child(4) {
  top: calc(25vw - 160px);
  left: calc(25vw - 50px);
}
