.contact-container {
    position: relative;
    height: calc(100vh - 105px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title {
    position: absolute;
    top: .5vw;
    left: 0;
    
    font-family: Poppins;
    font-weight: bold;
    font-size: 32pt;
    color: transparent;
    -webkit-text-stroke: .5px white;
    margin-left: 4vw;
    width: fit-content;
    transition: 200ms;
}

.email-button {
    width: 50vw;
    font-size: 2vw;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 10px;
    transition: 200ms;
}

.email-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);
    transition: 200ms;
}
